@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Light.otf);
}
* {
  &:focus {
    outline:0!important;
  }
}

body {
  background-color: #000;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: #fff;
   #particle-canvas {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000!important;
    z-index: -1;
}
}
.navbar-light {
  padding-top: 3rem;
  padding-right: 7rem;
  @media(max-width:768px){
    padding-top: 1.5rem;
    padding-right: 15px;
  }
  .navbar-brand {
  padding-left: 6rem;
  @media(max-width: 768px){
    padding-left: 2rem;
  }
  }
  .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  }
  .navbar-nav {
    .nav-link {
      color:#F1E6E6!important;
      font-weight: 600;
      z-index: 999;
      &:hover {
        border-bottom: 2px solid #D61549;
      } 
    }
  }
  .active {
  border-bottom: 2px solid #D61549!important;
  }
}
#hero_section {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  #hero_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    @media(max-width:768px){
      height: 40vh;
    }
    img {
      border:2rem solid #2A2A2A;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      @media(max-width:768px){
      height: 250px;
      width: 250px;
      border: 1rem solid #2A2A2A;
    }
    }
  }
  #hero_left {
    display:flex;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    @media(max-width:768px){
      height: 45vh;
      padding-top: 10px;
    }
    p {
      color: #C8C1C1;
      font-size: 1rem;
      @media(max-width:768px){
        font-size: 0.8rem;
      }
    }
    h1 {
      font-size: 4rem;
      font-weight: 800;
      @media(max-width:768px){
        font-size: 3rem;
      }
    }
    .detail {
      width: 50%;
      @media(Max-width: 768px){
        width: 100%;
      }
    }
    .btn-link {
      background-color: #D61549;
      text-decoration: none;
      width: 25%;
      @media(max-width: 768px){
        width: 40%;
      }
    }
  }
}
#footer_right {
  position: fixed;
  bottom: 1rem;
  right: 6rem;
  color: #F1E6E6;
}
#bottom_footer {
  position: fixed;
  bottom: 1rem;
  left: 6rem;
}
